.drum-machine {
    margin: auto;
    margin-top:5rem;
    display:flex;
    background-color:grey;
    width:870px;
    align-items:center;
}

.text {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

h4 a {
    text-decoration: none;
    color:teal;
}